.box{
    height: 300px;
    width: 310px;
    border:1px ;
    background-color: white;
    position: absolute;
    margin-top: 100px; /*上下居中 */
    margin-left: 1000px;  /*左右居中 */
}
.box1 {
    height: 30px;
    width: 230px;
    border: 1px;
    box-shadow: 0px 0px 1px 1px #aaa inset;
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: content-box; /* 默认 */
    margin-top: 20px;
    margin-left: 35px;
}
input{
    border: 0;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}
.box2{
    height: 30px;
    width: 230px;
    border:1px ;
    background-color: white;
    box-shadow:0px 0px 1px 1px #aaa inset;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: content-box;/* 默认 */
    margin-top: 20px;
    margin-left: 35px;
}
.dl{
    height: 40px;
    width: 240px;
    background-color: #0165B3;
    color: white;
    font-size:20px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 35px;
    border: none;

}
.box3{
    height: 47px;
    width: 300px;
    border:1px ;
    background-color:#F5F5F5;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: content-box;/* 默认 */
    margin-top: 25px;
}
.wjmm{
    float: left;
    margin-left: 30px;
    cursor: pointer;

}
.zcxyh{
    float: left;
    margin-left: 95px;
    cursor: pointer;
}
.white_content {
    display: none;
    padding: 20px;
    border:2px solid #AAD0F2;
    background-color: #EDF5FD;
    z-index:1002;
    overflow: auto;
    height: 300px;
    width: 310px;
    position: absolute;
    margin-top: 100px; /*上下居中 */
    margin-left: 1000px;  /*左右居中 */
}
.fanhui{
    border-radius:3px;
    background-color: #0165B3;
    color: white;
    border: none;
    height: 40px;
    width: 100px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 180px;
}